@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    background: -webkit-linear-gradient(to right, #e5e7e7, #88d9e7, #6fe2f1);  
    background: linear-gradient(to right, #eeeff0, #88d9e7, #6fe2f1);
 
}

.img1 {
    width: 25%;
    height: auto;
    animation: logoAnimation 1.1s both;
}

@keyframes logoAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    20% {
      opacity: 0.1;
      transform: scale(0.7);
    }
    40% {
      opacity: 0.4;
      transform: scale(0.9);
    }
    70% {
      opacity: 0.6;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .img2 {
    width: 45%;
    height: auto;
    mix-blend-mode: normal;
    animation: logoAnimation 1.1s both;
  }
  


.custom-button {
    --background: linear-gradient(to right, #3498db, #2980b9);
    --color: #ffffff; 
    --border-radius: 10px; 
    font-weight: bold;
}

.custom-button:hover {
    --background: linear-gradient(to right, #2980b9, #3498db); 
}

.custom-heading {
    font-size: 1.5rem;
    color: #333; 
    font-weight: bold;
  }


.buttons {
    transform: scale(1);
    transition: transform 0.7s;
}

.buttons:hover {
    transform: scale(1.04);
}

.text{
    text-transform: capitalize;
    text-align: left;
    text-decoration: underline;
}


h1{
    font-family: 'bangers', cursive;
    font-weight: 500;
}

h3{
    font-family: 'bangers', cursive;
    font-size: 22px;
}
.bi-arrow-down-circle {
    width: 80px;
    height: 80px;
}  

img {
    background-color: transparent;
    mix-blend-mode: color-burn;
}

button{
    background-color: transparent;
    font-size: 4vw; 
    padding: 4vw 6vw; 
    margin-bottom: 5vw; 
    border-radius: 7px;
    filter: contrast(150%);
}


